@import "../styles/colors";

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100dvh; 

    main {
        flex: 1;
    }

    footer {
        display: block;
        padding: 10px;
        text-align: center;
        background-color: $primary-color;
        color: #ffffff;

        
        .socials {
                display: flex;
                justify-content: space-evenly;
            }
        
    }
}









