@import "../styles/colors";
@import "../styles/breakpoints";

body {
    p {
        color:white;
        text-decoration: none;
    }

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100dvh; 

    main {
        flex: 1;
    }
    .socials {
        a {
            text-decoration: none;
            color: white;
        }
    }

    // Breakpoint to adjust footer for mobile when below certain width //
    footer {
        @media screen and (max-width: $small) {
            padding: 5px 5%;
        }
            
        

        display: block;
        padding: 10px;
        text-align: center;
        background-color: $primary-color;
        color: #ffffff;

        p {
            padding-bottom: 5px;
        }

        
        .socials {
                display: flex;
                justify-content: space-evenly;
            }
        
    }
}