@import "../../index";

body {
    h1 {
        color: white;
        margin: 4% auto;
        text-align: center;
        font-size: 2.5rem;
    }
}
.columns {
    color: white;
    text-align: center;
    font-size: 1.3rem;
    margin: 20px auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 

     div {
        .interest-list {
            list-style: none;
        }

        .language-list {
            h3 {
                font-size: 1.2rem;
                text-align: center;
            }

            li {
                list-style: none;
            }
        }

        width: 40%; 
        margin: 0 1%;
        padding: 40px;

        @media screen and (max-width: $medium) {
            width: 100%; 
            margin: 2% 0; 
        }

        @media screen and (max-width: $small) {
            width: 100%; 
            margin: 2% 0; 
        
        }
    }
}

