// Importing stylesheet containing styles, footers and headers //
@import "../../index";

// Defined values for text style //
@mixin fonteffect {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

// Main container for blog layout//
.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;

    // Defines the sizing of content //
    .blog-content {

        // gap was set at 30% instead of 33% so that the cursor wouldn't hover even outside of the size of the blog //
        width: calc(30%);
        margin-bottom: 20px;
        transition: transform 0.1s ease-in-out;

        // Enlarges blog posts when cursor hovers //
        &:hover {
            transform: scale(105%);
        }

        // Gives the blog title text style //
        h3 {
            color: white;
            // text-decoration: underline;

        }

        // Aligns the date to center //
        p {
            text-align: center;
            text-decoration: none;
            // Add shadow for better readability //
            @include fonteffect;
        }

        // Styles anchor element //
        a {
            display: inline-block;
            text-align: center;
            text-decoration: none;
            padding: 0px;

            h3 {
                color: white;
                @include fonteffect;
            }

            // Style for img appearance //
            img {
                max-width: 80%;
                height: auto;
                display: block;
                margin: 0 auto;
                border: 4px solid black;
                // Added border radius for images for better appearance //
                border-radius: 3%;
                overflow: none;

                // &:hover {
                //     transform: scale(1.1);
                // }
            }

        }
    }

    // Turns the layout into a single column for easier view through mobile devices //
    @media screen and (max-width: $small) {
        .blog-content {
            width: calc(100% - 10px);
        }
    }

    // Added another breakpoint for 900-1300px because scaling was a bit off even for desktop //
    @media screen and (min-width: 901px) and (max-width: 1300px) {
        .blog-content {
            width: calc(50% - 10px);
        }
    }

    // Breakpoint for under 900px for tablet devices //
    @media screen and (max-width: $medium) {
        .blog-content {
            width: calc(100% - 10px);
        }
    }
}