@import "../../index";

.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;

    .blog-content {
        width: calc(33.33% - 20px);
        margin-bottom: 20px;

        a {
            display: block;
            text-align: center;
            text-decoration: none;

            img {
                max-width: 80%; /* Adjust the percentage to make images smaller */
                height: auto;
                display: block;
                margin: 0 auto; /* To center the image within its container */
            }
        }
    }
}


@media screen and (max-width: $medium) {
    .blog .blog-content {
        width: calc(50% - 20px); 
    }
}



@media screen and (max-width: $small) {
    .blog .blog-content {
        width: calc(100% - 20px); 
    }
}
